.header{
	background:#33cc33;
	width:100%;
	height:50px;
	text-align:center;
	padding-top:10px;
	font-size:36px;
}
.content{
	height:500px;
	border-bottom:solid;
}
.footer{
	background:#33cc33;
	height:150px;
}